{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='dropzone.min.css')}}">
    <script src="{{url_for('static', filename='dropzone.min.js')}}"></script>
    <title>COVID-19 identification from Chest X-Rays</title>
{% endblock %}
{% block content %}
    <div class="container-fluid text-center mt-5">
        <h1>COVID-19 identification from Chest X-Rays</h1>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 mt-3 mr-3">
        <div class="row text-center container-fluid">
            <div class="row text-center mt-3 mr-3">
                <div class="col-md-8"><h2>Box</h2></div>
                <div class="col-md-4"><h2>Score</h2></div>
            </div>
            <div class="row text-center">
            {% if boxes is defined %}
                {% for box, score in zip(boxes, scores) %}
                    <div class="col-md-8">{{ box }}</div>
                    <div class="col-md-4">{{ score }}</div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row mt-5">
            <h2>Study level output</h2>
            <div class="row text-center mt-3 mr-3">
                <div class="col-md-3"><h6>Negative</h6></div>
                <div class="col-md-3"><h6>Typical</h6></div>
                <div class="col-md-3"><h6>Indeterminate</h6></div>
                <div class="col-md-3"><h6>Atypical</h6></div>
            </div>
            <div class="row text-center">
            {% if study_out is defined %}
                <div class="col-md-3">{{ study_out[0][0] }}</div>
                <div class="col-md-3">{{ study_out[0][1] }}</div>
                <div class="col-md-3">{{ study_out[0][2] }}</div>
                <div class="col-md-3">{{ study_out[0][3] }}</div>
            {% endif %}
            </div>
        </div>
      </div>
      <div class="col-md-6 mt-5 ml-3 mb-3">

        <div class="text-center">
            <form id="imgForm" method="POST" enctype="multipart/form-data">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type='file' id="file" name="file"/>
                                <label class="custom-file-label" for="file">Choose file by clicking here</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-3">
                    <div class="form-group">
                        <div class="btn-group btn-group-toggle mr-1" data-toggle="buttons" id="modelSelect">
                            <label class="btn btn-primary" id="rcnn" name="rcnn"> 
                                <input type="radio" id="rcnn" name="rcnn" /> RCNN
                            </label>
                            <label class="btn btn-primary"> 
                                <input type="radio" id="yolo" name="yolo" /> Yolo
                            </label>
                            <label class="btn btn-primary checked focus active"> 
                                <input type="radio" id="ensemble" name="ensemble" /> Ensemble
                            </label>
                        </div>
                    </div>
                    <div class="form-group ml-1" id="submitBtnContainer">
                        <button id="submitBtn" type="submit" class="btn btn-success">
                          Submit Image
                        </button>
                    </div>
                </div>
            </form>
            
            <br>

            {% if img != None %}
                <img class="cropped" id="xray" src="data:image/PNG;base64,{{ img|safe }}" height="800">
            {% else %}
                <img class="cropped" id="xray" src="#" height="800">
            {% endif %}
            
            <!-- This is pretty nice for multi file uploads but not needed right now -->
            <!--<form action="/upload-target" class="dropzone"></form>-->
          
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
{% endblock %}